@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <center>
            <h2>Gestión Profesores</h2>
            <img src="https://i.imgur.com/eT8mci2.jpg" width="300">
            <p>Para gestionar la asignación docente</p>
            <p><a class="btn btn-default" href="/AsignacionDocentes">Go to &raquo;</a></p>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h2>Gestión Alumnos</h2>
            <img src="https://i.imgur.com/vwupGvt.png" width="300">
            <p>Para gestionar el proceso de matriculas</p>
            <p><a class="btn btn-default" href="/Matriculacions">Go to &raquo;</a></p>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h2>Gestión Evaluaciones</h2>
            <img src="https://i.imgur.com/QRySgpp.jpg" width="300">
            <p>Para gestionar el proceso de evaluar</p>
            <p><a class="btn btn-default" href="/Evaluacions">Go to &raquo;</a></p>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h2>Ver mis Evaluaciones</h2>
            <img src="https://i.imgur.com/jMKAmry.png" width="300">
            <p>Para ver mis evaluaciones</p>
            <p><a class="btn btn-default" href="/MisEvaluaciones">Go to &raquo;</a></p>
        </center>
    </div>
</div>